#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Type=Application
Name=Topcoder
Exec=javaws /home/local/Projects/topcoder/ContestAppletProd.jnlp
Icon=/home/local/Projects/topcoder/topcoder.png
